body {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #e1c2e1 50%, #e1c2e1 100%);
}
.projectall {
  width: 100%;
  height: 100vh;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #e1c2e1 50%, #e1c2e1 100%);
}
.project_name {
  width: 100%;
  padding: 80px 0 40px;
  /* background-color: rebeccapurple; */
}

.project_name > h3 {
  font-size: 45px;
  text-align: center;
}
.project_section {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 479px) {
  .projectall {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding-top: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 50px;
  }

  .project_name > h3 {
    font-size: 35px;
  }
}
