.project_section {
  height: 350px;
  width: 100%;
}

.project_card {
  height: 300px;
  width: 250px;
  background-color: #16191a;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.project_card:hover {
  transform: scale(1.1);
}

.project_title > h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img {
  height: 150px;
  width: 150px;
  border-radius: 4px;
  opacity: 0.8;
}

.project_lang > p {
  text-align: center;
}

.project_btn > a{
  margin: 0 10px;
  color: white;
}

@media only screen and (max-width: 479px) {
  .project_section {
    height: 300px;
  }
  .project_card {
    height: 250px;
    width: 200px;
  }

  .img {
    height: 85px;
    width: 85px;
  }

  .project_card:hover {
    transform: scale(1);
  }
}
