.skill {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: #0f0e0e;
}

.skill_content {
  width: 100%;
  text-align: center;
  color: white;
}

.skill_content > p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-left: 50px;
}

.progress_bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  flex-wrap: wrap;
  height: auto;
}

.progress_inner {
  width: 45%;
  padding: 0 40px;
  margin-bottom: 31px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  color: #c9bebe;
  margin-bottom: 10px;
  display: inline-block;
}

.background {
  width: 100%;
  min-width: 100%;
  height: 16px;
  border: 1px solid #7e7e7e;
  padding: 2px;
}

.bar {
  height: 100%;
}

.bar_inner {
  height: 100%;
  background: #292d31;
  overflow: hidden;
}

@media only screen and (max-width: 479px) {
  .skill {
    width: 100%;
  }

  .skill {
    width: 100%;
  }
  .skill_content > p {
    font-size: 20px;
    margin: 0 10px;
  }

  .progress_bar {
    display: flex;
    flex-direction: column;
  }

  .progress_inner {
    width: 90%;
  }
}
